<!DOCTYPE html>
<html ng-app='ShoppingListCheckOff'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
    <title>Custom Service</title>
  </head>
  <body>
    <div ng-controller="ToBuyController as list1">
      <h3>To Buy</h3>
      <input type="text" ng-model="list1.name" placeholder="name">
      <input type="text" ng-model="list1.quantity" placeholder="qunatity">
      <button ng-click="list1.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list1.items">
          Buy {{item.nameItem}} of {{item.quantity}}
          <button ng-click="list1.bought($index);">Bought</button>
        </li>
      </ol>
      <h4 ng-if="!list1.items.length">Everything is bought</h4>
    </div>
    <div ng-controller="AlreadyBoughtController as list2">
      <h3>Already Bought</h3>
      <h4 ng-if="!list2.items.length">Nothing bought yet</h4>
      <ol>
        <li ng-repeat="item in list2.items">
          Bought {{item.nameItem}} of {{item.quantity}}
        </li>
      </ol>
    </div>
  </body>
</html>
