<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img-icon\angularjs-2.png" type="image/x-icon">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>My first AngularJS APP</title>
  </head>
  <body ng-app="CounterApp">
    <h1>The Digest Cycle</h1>
    <div ng-controller="CounterController">
      <button ng-click="showNumberOfWatchers()">Log # of Watchers</button>
      <div>
        <button ng-click="countOnce()">Up Once Counter</button>
        <button ng-click="upCounter()">increment</button>
      </div>
      <div>
        Once counter: {{ onceCounter }}<br>
        REgular counter: {{ counter }}
      </div>
    </div>
    <div ng-controller="secondCounter">
      <button ng-click="increment()">increment</button>
      Count of counter: {{counter}}
    </div>
  </body>
</html>
